@font-face {
  font-family: "Uber Move";
  src: url("../fonts/UberMove-Bold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Uber Move";
  src: url("../fonts/UberMove-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
